/* App component style */
.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fdeaed;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

/* VideoGallery component style */
.video-gallery {
  margin: 50px;
}
.video-item {
  float: left;
  width: 320px;
  height: 200px;
  margin: 19px;
  background-color: #fdeaed;
  border: 10px solid #fdeaed;
}

p.video-url {
  cursor: pointer;
  text-align: right;
}

/* VideoPage component style */
.video-box {
  width: 520px;
  background-color: #fdeaed;
  border: 10px solid #fdeaed;
}

.video-info-box {
  width: 500px;
}

.video-info-box .title {
  margin-top: 10px;
}

.video-info-box .tags {
  background: #fdeaed;
  margin-right: 10px;
  border-radius: 2px;
  padding: 3px 10px 5px 10px;
}

.video-page {
  margin: 50px;
}

.back-button {
  background: #CEBB41;
  border: none;
  color: white;
  margin-bottom: 30px;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
}
