/* App component style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

body {
  background-color: #ececec;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
  height: 100%;
  margin: 0;
}

#category-list {
  color: #282828;
  background-color: transparent;
  font-size: calc(10px + 3vmin);
  border: none;
  border-bottom: 5px solid #282828;
  font-weight: 900;
  border-radius: 0;
}

.gallery-sub-nav {
  font-size: calc(10px + 3vmin);
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  background-color: #FFCC00;
  padding: 20px;
}

.sub-title{
  width: 20%;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  padding: 5px;
}

.hamburger {
  height: 5vmin;
  pointer-events: none;
  padding: 10px;
}

.App-header {
  background-image: linear-gradient(#DC3545, #c73948);
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0px;
}

.App-link {
  color: #61dafb;
}

/* VideoGallery component style */
.video-gallery {
  margin: 0px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.vimeo-player {
  min-width: 100%;
  min-height: 100%;
}

.video-item {
  float: left;
  width: 640px;
  height: 430px;
  margin: 50px;
  background-color: #fc0;
  border: 10px solid #fc0;
  box-shadow: 10px 10px #CDA500;
}

.video-url {
  cursor: pointer;
  text-align: right;
}

/* VideoPage component style */
.video-box {
  padding: 20px;
  flex: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.video-controls {
  padding: 10px;
  background: #CDA500;
  margin: 10px -20px -20px -20px;
}

.vimeo-container {
  flex: 1;
  align-self: center;
}

.video-info-box {
  padding: 40px;
  padding-top: 0px;
  flex: 1;
  background: #fc0;
}

.video-info-box .title {
  margin-top: 10px;
  font-weight: 900;
  font-size: calc(50px + 2vmin);
}

.video-info-box .created {
  padding-bottom: 10px;
}

.video-info-box .tags {
  background: #DC3545;
  font-weight: 900;
  font-size: 2vmin;
  color: #FFCC00;
  margin-right: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 15px;
  box-shadow: 4px 4px #CDA500;
}

.video-info-box .description {
  font-size: 2.5vmin;
}

.video-page {
  margin: 0;
  padding: 0;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.video-sub-nav {
  margin: 0;
  padding: 20px;
  background-color: #FFCC00;
  min-width: 100%;
}

.video-page-view {
  display: flex;
}

.button-box {
  padding: 0px;
  margin: 10px;
}

#back-button {
  color: #282828;
  background-color: transparent;
  font-size: calc(10px + 3vmin);
  border: none;
  font-weight: 900;
  border-radius: 0;
}

@media only screen and (max-width: 1224px) {
  .video-box iframe {
    width: 700px;
    height: 350px;
  }
}

@media only screen and (max-width: 768px) {
  .video-box iframe {
    width: 500px;
    height: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .video-box iframe {
    width: 350px;
    height: 200px;
  }
}

/* Comments component style */
.comments-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 20px;
}

.comments-container h4 {
  margin-top: 10px;
}

.post-as-row {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

.username-label {
  padding: 0px;
}

.username-label p {
  margin: 0px;
  line-height: 50px;
}

.username-input {
  border-radius: 8px;
  background-color: #fc0;
}

.post-as-row input {
  width: 100%;
  height: 40px;
  padding: 12px 0px 8px 0px;
  border: none;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.comment-input {
  border-radius: 10px;
  background-color: #fc0;
}

.comment-input textarea {
  resize: none;
  width: 100%;
  height: 85px;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.publish-btn-chars-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-box {
  padding: 0px;
  margin-bottom: 15px;
}

.btn-box .btn-publish {
  width: 100%;
}

.chars-box {
  padding: 0px;
  text-align: right;
}

.chars-box {
  line-height: 10px;
}

.posted-by {
  font-weight: bold;
  padding: 0px;
}

.posted-by p {
  margin-bottom: 0px;
}

.comment {
  padding: 0px;
}

.comment-box {
  background-color: #fc0;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}

.posted-ago {
  padding: 0px;
  color: grey;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: right;
}

.posted-ago p{
  margin-bottom: 0px;
}